/* GLOBAL */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #020617, #0f172a);
  color: white;
}

html {
  scroll-behavior: smooth;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* BUTTON */
.btn {
  padding: 12px 24px;
  background: #38bdf8;
  border-radius: 8px;
}

/* PROJECT */
.project {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(30px);
}

/* RESPONSIVE */
@media(max-width:768px) {
  .hero h1 {
    font-size: 2rem;
  }
}